extends layout 

block linkscss
  link(rel='stylesheet', href='/publico/css/volei.css')

block titulo_pagina
  title=`PEI-VOLEI`

block principal
  BR 
  BR
    h3 Exercícios para treino de voleibol
    h2 Um dos esportes que trabalhamos nesse portal é vôlei, e nele é necessário o uso do corpo inteiro, mas há algumas partes mais importante é claro. Os exercícios que recomendamos, podem ser realizados tanto na academia tanto quanto com o seu próprio peso.
  BR 
    .row.align-items-start
      .col-lg-3
        .card(style='width: 18rem;')
          img.ex(src='/publico/imagens/1.png') 
          p.card-text
            | 1.	Elevação de panturrilha
            br
            |A melhor forma de ganhar impulsão no vôlei é apostar nos exercícios de fortalecimento muscular, principalmente para membros inferiores. Os músculos da panturrilha, por exemplo, são essenciais para a execução de saltos verticais bem altos. Portanto, a elevação de panturrilha é um dos melhores exercícios nesse quesito! Além disso, é fácil de fazer e você pode executá-lo com ou sem aparelho.
            br
            |Para realizar esse exercício posicione-se de pé e levante seu corpo usando somente a ponta do pé, tentar chegar ao mais alto possível, mas não pulando ou executando ele rápido, faça ele calmo e controlando o seu corpo, concentrando-se no pico do exercício. Esse exercício é recomendado faze-lo sem carga no início para aprender o movimento e depois colocar peso.
            br
            | Realize de 5 a 6 séries sem peso, ou se estiver utilizando peso de 3 a 4 séries, todas indo até a falha de preferência.
      .col-lg-3
        .card(style='width: 18rem;')
          img.ex(src='/publico/imagens/2.png') 
          p.card-text
            |2.	Agachamento com peso corporal
            br
            |Este tipo de agachamento melhora a capacidade de impulsão no vôlei mediante a repetição do movimento fundamental dos saltos. Ou seja, quanto mais agachamentos você fizer, mais preparado você estará para executar saltos verticais. Este tipo de exercício trabalha o fortalecimento interno e externos das coxas, além de aumentar a força corporal e tonificar os músculos que atuam no processo.
      .col-lg-3
        .card(style='width: 18rem;')
          img.ex(src='/publico/imagens/3.png') 
          p.card-text
            |3. Abdominais
            br
            |Trabalhar os músculos do tronco, das costas e do abdômen é essencial para uma boa execução de saltos. Isso se deve ao fato desses tecidos estarem relacionados ao equilíbrio e à coordenação. Logo, o treinamento de abdominais se faz necessário para fortalecer essas partes do corpo. Abdominais tradicionais (deitado no chão, com a mão atrás da nuca) e levantamento das pernas são as melhores variações para treinar.
      .col-lg-3
        .card(style='width: 18rem;')
          img.ex(src='/publico/imagens/4.png') 
          p.card-text
            | 4.	Exercícios pliométricos
            br
            |Os exercícios pliométricos são aqueles que buscam a máxima utilização dos músculos por meio de movimentos rápidos. Ou seja, existe uma intensa exploração dos tecidos com o intuito de conquistar a sua otimização. Eles aumentam a força, a velocidade explosiva e a agilidade, e ainda melhoram a conexão neuromuscular.
            br
            |Ademais, fazem com que os músculos recebam dois grandes estímulos: alongamento do tendão muscular e, em seguida, seu encolhimento instantâneo. Os principais exercícios pirométricos que contribuem para uma melhor impulsão no vôlei são:
            br
            |-Agachamento com salto;
            |-Salto com caixa;
            |-Salto horizontal parado;
            |-Pular corda.
  